
div#mapoverlay {
    position: absolute;
    visibility: hidden;
    z-index: 10;

    border: 1px solid black;
    background-color: white;
}

div#mapoverlay p {
    margin: 0px;
}

div#selection {
    float:left;
/*  width:37%; */
    width: 400px;
}

div#selection > p {
    text-align:center;
    font-size:0.8em;
}

div#selection p {
    margin:0px;
}

div#selection > div {
    float:left;
    width:100%;
    margin-top:3px;
    margin-bottom:3px;
}

.toggle-list, .tab-list {
    position: relative;

    list-style-type:none;
    display:inline-block;
    margin:0px;
    padding:0px;
    cursor:default;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.toggle-list .selectable {
    display:inline;
    padding-left:5px;
    padding-right:5px;
}

.selectable {
    position: relative;

    border: 1px solid black;
    cursor:pointer;
    background-color: #f3f3f3;
}

.selectable:hover {
    background-color: #e3e3e3;
}

.selected {
    background-color: #aacccc;
}

.selected:hover {
    background-color: #99bbbb;
}

.grayout {
    border-color: #999999;
    color: #999999;
}

.grayout:hover {
    background-color: #f3f3f3;
    cursor:default;
}

.tab-list {
    width: 100%;
    display: flex;
}

.tab-list .selectable {
    display: inline-block;

    margin: 0px;
    padding: 5px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;

    flex-basis: 100%;
    text-align: center;

    transform: translate(0px, 1px);
}

span#default {
    height: 16px;
    width: 12px;
    margin-top: -1px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;

    float: right;
}

li#default svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#mapsel p {
    display:inline-block;
    width: 110px;
    margin-top: 1px;
    margin-bottom: 1px;
}

div#mapsel ul {
    display:inline-block;
    width: calc(100% - 115px);
}

div#mapsel li {
    position: relative;
    display: inline-block;
}

div#mapsel li#radarname {
    width: 100%;
}

div#localsel {
/*  display: none; */
    
    height: 246px;
    border: 1px solid black;
}

div#localsel label {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;

    text-align: center;

    border: 1px solid black;
    background-color: #f3f3f3;
    cursor: pointer;
}

div#localsel label:hover {
    background-color: #e3e3e3;
}

#local {
    opacity: 0;
    width: 0px;
    height: 0px;
}

#file-list {
    margin: 0px;
    margin-top: -19px;

    list-style-type: none;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;

    height: calc(100% - 31px);
}

#file-list li {
    padding: 2px;
    border: 1px solid black;

    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    cursor: default;
}

#file-list li span {
    float: right;
    margin-left: 5px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

#file-list .file-rm {
    cursor: pointer;
}

div#smsel p, div#sfcsel p, div#orgsel p, div#bdysel p {
    display:inline-block;
    width:110px;
}

div#generate, div#autoupdate {
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}

div#generate:active {
    background-color:#aacccc;
}

div#selecthelp {
    position:absolute;
    visibility:hidden;
/*  font-size:0.8em; */
    margin: 0px;
}

div#selecthelp p {
    margin: 0px;
}

div#info {
    width:100%;
    text-align:center;
}

div#info p {
    font-size:0.9em;
    margin-bottom:2px;
    margin-top:2px;
}

div#hododiv {
    float:left;
    width:62%;
/*  margin-top:-10px; */
    margin-left:10px;
}

div#hododiv img {
    width:100%;
}

div#animcontrols, div#doccontrol {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    height:32px;
}

div#animcontrols {
    width: 449px;
}

div#doccontrol {
    width: 205px;
}

div#animcontrols .selectable, div#doccontrol .selectable {
    display: inline-block;

    float: right;

    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#animspdup, #animspddn, #displaydoc {
    font-weight: bold;
}

#animspdup:active, #animspddn:active, #makegif:active {
    background-color:#aacccc;
}

#refresh {
    background: rgb(243,243,243);
    background: radial-gradient(circle, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 33%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 43%, rgba(243,243,243,1) 43%);
}

#refresh span.arrow {
    display: inline-block;
    position: absolute;
    bottom: 16px;
    left: 16px;

    transform: translate(-3.9px, 0.6px) rotate(0deg) translate(7.9px, 0);
    transform-origin: center bottom;

    width: 0; 
    height: 0; 
    border-left: 3px solid #f3f3f3;
    border-right: 3px solid #f3f3f3;
    border-top: 0px solid #f3f3f3;
  
    border-bottom: calc(6px * 0.866) solid black;
}

@keyframes rotation {
    0%   { transform: translate(-3.9px, 0.6px) rotate(360deg) translate(7.9px, 0); }
    100% { transform: translate(-3.9px, 0.6px) rotate(0deg) translate(7.9px, 0); }
}

#refresh span.arrow.animate {
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#refresh:hover {
    background: rgb(227,227,227);
    background: radial-gradient(circle, rgba(227,227,227,1) 0%, rgba(227,227,227,1) 33%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 43%, rgba(227,227,227,1) 43%);
}

#refresh:hover span.arrow {
    border-left-color: #e3e3e3;
    border-right-color: #e3e3e3;
    border-top-color: #e3e3e3;
}

#refresh:active {
    background: rgb(170,204,204);
    background: radial-gradient(circle, rgba(170,204,204,1) 0%, rgba(170,204,204,1) 33%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 43%, rgba(170,204,204,1) 43%);
}

#refresh:active span.arrow {
    border-left-color: #aacccc;
    border-right-color: #aacccc;
    border-top-color: #aacccc;
}

#playpause {
    font-size: 0.5em;
}

#framelist {
    float: right;

    list-style-type:none;
    display:inline;
    margin:0px;
    margin-right: 5px;
    padding:0px;
    cursor:default;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    height: 32px;
    font-size: 1.8em;
}

#framelist li {
    float: right;

    height: 32px;
    line-height: 32px;
    width: 15px;

    cursor: pointer;

    background: rgb(0,0,0);
    background: radial-gradient(circle closest-side, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 60%);
}

#framelist li.framenotloaded {
    cursor: default;

    background: rgb(136,136,136);
    background: radial-gradient(circle closest-side, rgba(136,136,136,1) 0%, rgba(136,136,136,1) 60%, rgba(255,255,255,1) 60%);
}

#framelist li.frameactive {
    background: rgb(170,204,204);
    background: radial-gradient(circle closest-side, rgba(170,204,204,1) 0%, rgba(170,204,204,1) 45%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 60%);
}

#datamissing {
    float: right;
    margin: 0px;
    margin-right: 5px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    height: 32px;
    line-height: 32px;
}

.help {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 0;
    border-radius: 6px;
    font-size: calc(0.8 * 16px);
    font-weight: normal;

    width: 180px;
    height: 30px;
    line-height: 30px;

    position: absolute;
    z-index: 1;
}

.helptop {
    bottom: calc(100% + 6px);
    left: 50%;
    margin-left: -90px;  
}

.helptop::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.helpright {
    top: 50%;
    margin-top: -15px;
    left: calc(100% + 6px);
}

.helpright::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

@keyframes fadein {
    0% { visibility: hidden; opacity: 0; }
    1% { visibility: visible; opacity: 0; }
    100% { visibility: visible; opacity: 1; }
}

.needhelp:hover .help {
    animation: fadein 0.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.modal {
    z-index: 10;
    position: fixed;

    display: none;
/*  display: flex; */
    justify-content: center;
    align-items: center;

    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.modal .modal-bg {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    opacity: 0.7;
}

.modal .modal-content {
    position: absolute;
    z-index: 1;

    background-color: #ffffff;

    border:1px solid #000000;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    border-radius:5px;
    width: calc(90% - 20px);
    height: calc(90% - 20px);
    overflow-y: scroll;
}

.modal .modal-close {
    position: fixed;
    right: calc(5% + 17px);
    top: calc(5% + 17px);
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 2em;
    cursor: pointer;

    background-color: #ffffffbb;
}

.modal h2, .modal h3 {
    text-align: center;
}

.modal p {
    text-align: justify;
}

.twocol {
   -webkit-column-count: 2;
      -moz-column-count: 2;
           column-count: 2;

   -webkit-column-gap: 1em;
      -moz-column-gap: 1em;
           column-gap: 1em;
}

.twocol p, .twocol h4 {
    margin-top: 0px;
}

.modal table {
    width: 100%;

    margin-top: 0;
    margin-bottom: 1em;

    border-collapse: collapse;
}

.modal tr {
    border: solid;
    border-width: 1px 0;
}

.modal tr:first-child {
    border-top: none;
}

.modal tr:last-child {
    border-bottom: none;
}

.modal td {
    border: solid;
    border-width: 0 1px;

    padding-left: 3px;
    padding-right: 3px;
}

.modal td:first-child {
    border-left: none;
}

.modal td:last-child {
    border-right: none;
}
