
div#mapoverlay {
    position: absolute;
    visibility: hidden;

    border: 1px solid black;
    background-color: white;
}

div#mapoverlay p {
    margin: 0px;
}

div#selection {
    float:left;
    width:37%;
}

div#selection > p {
    text-align:center;
    font-size:0.8em;
}

div#selection p {
    margin:0px;
}

div#selection > div {
    float:left;
    width:100%;
    margin-top:3px;
    margin-bottom:3px;
}

div#selection ul {
    list-style-type:none;
    display:inline;
    margin:0px;
    padding:0px;
    cursor:default;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.toggle-list .selectable {
    display:inline;
    padding-left:5px;
    padding-right:5px;
}

.selectable {
    border: 1px solid black;
    cursor:pointer;
    background-color: #f3f3f3;
}

.selectable:hover {
    background-color: #e3e3e3;
}

.selected {
    background-color: #aacccc;
}

.selected:hover {
    background-color: #99bbbb;
}

div#mapsel p {
    display:inline-block;
    width:110px;
}

div#mapsel ul {
    display:inline-block;
}

div#smsel p {
    display:inline-block;
    width:110px;
}

div#sfcsel p {
    display:inline-block;
    width:110px;
}

div#generate, div#autoupdate {
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}

div#generate:active {
    background-color:#aacccc;
}

div#selecthelp {
    position:absolute;
    visibility:hidden;
    font-size:0.8em;
    margin: 0px;
}

div#info {
    width:100%;
    text-align:center;
}

div#info p {
    font-size:0.9em;
    margin-bottom:2px;
    margin-top:2px;
}

div#hododiv {
    float:left;
    width:62%;
/*  margin-top:-10px; */
    margin-left:10px;
}

div#hododiv img {
    width:100%;
}

div#animcontrols {
    padding-top: 5px;
    padding-bottom: 5px;
    height:32px;
    width:449px;
}

div#animcontrols .selectable {
    display: inline-block;

    float: right;

    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#animspdup, #animspddn {
    font-weight: bold;
}

#animspdup:active, #animspddn:active {
    background-color:#aacccc;
}

#refresh {
    position: relative;
    background: rgb(243,243,243);
    background: radial-gradient(circle, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 33%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 43%, rgba(243,243,243,1) 43%);
}

#refresh span {
    display: inline-block;
    position: absolute;
    bottom: 16px;
    left: 16px;

    transform: translate(-3.9px, 0.6px) rotate(0deg) translate(7.9px, 0);
    transform-origin: center bottom;

    width: 0; 
    height: 0; 
    border-left: 3px solid #f3f3f3;
    border-right: 3px solid #f3f3f3;
    border-top: 0px solid #f3f3f3;
  
    border-bottom: calc(6px * 0.866) solid black;
}

@keyframes rotation {
    0%   { transform: translate(-3.9px, 0.6px) rotate(360deg) translate(7.9px, 0); }
    100% { transform: translate(-3.9px, 0.6px) rotate(0deg) translate(7.9px, 0); }
}

#refresh span.animate {
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#refresh:hover {
    background: rgb(227,227,227);
    background: radial-gradient(circle, rgba(227,227,227,1) 0%, rgba(227,227,227,1) 33%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 43%, rgba(227,227,227,1) 43%);
}

#refresh:hover span {
    border-left-color: #e3e3e3;
    border-right-color: #e3e3e3;
    border-top-color: #e3e3e3;
}

#refresh:active {
    background: rgb(170,204,204);
    background: radial-gradient(circle, rgba(170,204,204,1) 0%, rgba(170,204,204,1) 33%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 43%, rgba(170,204,204,1) 43%);
}

#refresh:active span {
    border-left-color: #aacccc;
    border-right-color: #aacccc;
    border-top-color: #aacccc;
}

#playpause {
    font-size: 0.5em;
}

#framelist {
    float: right;

    list-style-type:none;
    display:inline;
    margin:0px;
    margin-right: 5px;
    padding:0px;
    cursor:default;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    height: 32px;
    font-size: 1.8em;
}

#framelist li {
    float: right;

    height: 32px;
    line-height: 32px;
    width: 15px;

    cursor: pointer;

    background: rgb(0,0,0);
    background: radial-gradient(circle closest-side, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 60%);
}

#framelist li.framenotloaded {
    cursor: default;

    background: rgb(136,136,136);
    background: radial-gradient(circle closest-side, rgba(136,136,136,1) 0%, rgba(136,136,136,1) 60%, rgba(255,255,255,1) 60%);
}

#framelist li.frameactive {
    background: rgb(170,204,204);
    background: radial-gradient(circle closest-side, rgba(170,204,204,1) 0%, rgba(170,204,204,1) 45%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 60%);
}

#datamissing {
    float: right;
    margin: 0px;
    margin-right: 5px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    height: 32px;
    line-height: 32px;
}
