
div#mapoverlay {
    position: absolute;
    visibility: hidden;

    border: 1px solid black;
    background-color: white;
}

div#mapoverlay p {
    margin: 0px;
}

div#selection {
    float:left;
    width:37%;
}

div#selection > p {
    text-align:center;
    font-size:0.8em;
}

div#selection p {
    margin:0px;
}

div#selection > div {
    float:left;
    width:100%;
    margin-top:3px;
    margin-bottom:3px;
}

div#selection ul {
    list-style-type:none;
    display:inline;
    margin:0px;
    padding:0px;
    cursor:default;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.toggle-list .selectable {
    display:inline;
    padding-left:5px;
    padding-right:5px;
}

.selectable {
    border: 1px solid black;
    cursor:pointer;
    background-color: #f3f3f3;
}

.selectable:hover {
    background-color: #e3e3e3;
}

.selected {
    background-color: #aacccc;
}

.selected:hover {
    background-color: #99bbbb;
}

div#mapsel p {
    display:inline-block;
    width:110px;
}

div#mapsel ul {
    display:inline-block;
}

div#smsel p {
    display:inline-block;
    width:110px;
}

div#sfcsel p {
    display:inline-block;
    width:110px;
}

div#generate, div#autoupdate {
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}

div#generate:active {
    background-color:#aacccc;
}

div#selecthelp {
    position:absolute;
    visibility:hidden;
    font-size:0.8em;
    margin: 0px;
}

div#info {
    width:100%;
    text-align:center;
}

div#info p {
    font-size:0.9em;
    margin-bottom:2px;
    margin-top:2px;
}

div#hododiv {
    float:left;
    width:62%;
/*  margin-top:-10px; */
    margin-left:10px;
}

div#hododiv img {
    width:100%;
}

div#animcontrols {
    padding-top: 5px;
    padding-bottom: 5px;
    height:32px;
    width:449px;
}

div#animcontrols .selectable {
    display: inline-block;

    float: right;

    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#animspdup, #animspddn {
    font-weight: bold;
}

#animspdup:active, #animspddn:active {
    background-color:#aacccc;
}

#playpause {
    font-size: 0.5em;
}

#framelist {
    float: right;

    list-style-type:none;
    display:inline;
    margin:0px;
    margin-right: 5px;
    padding:0px;
    cursor:default;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    height: 32px;
    font-size: 1.8em;
}

#framelist li {
    float: right;

    height: 32px;
    line-height: 32px;

    cursor: pointer;
}

#framelist li.framenotloaded {
    color: #888888;
    cursor: default;
}

.frameactive {
    color: #aacccc;
}
